[submodule "ext/nanovg"]
	path = dep/nanovg
url=https://github.com/mi-rack/nanovg
[submodule "ext/nanosvg"]
	path = dep/nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "ext/osdialog"]
	path = dep/osdialog
url=https://github.com/mi-rack/osdialog.git
[submodule "ext/oui-blendish"]
	path = dep/oui-blendish
url=https://github.com/mi-rack/oui-blendish
[submodule "dep/glfw"]
	path = dep/glfw
url=https://github.com/mi-rack/glfw.git
[submodule "dep/rtaudio"]
	path = dep/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "dep/optimized-routines"]
	path = dep/optimized-routines
url=https://github.com/mi-rack/optimized-routines
[submodule "dep/math-neon"]
	path = dep/math-neon
	url = https://github.com/andrepuschmann/math-neon
[submodule "dep/speexdsp"]
	path = dep/speexdsp
	url = https://github.com/xiph/speexdsp
	branch = resample-aarch64
[submodule "dep/tinythread"]
	path = dep/tinythread
	url = https://github.com/aseprite/tinythreadpp
